---
- name: Install requirements based on platform
  ansible.builtin.include_tasks: '{{ item }}'
  with_first_found:
    - '{{ ansible_facts["os_family"] }}-{{ ansible_facts["architecture"] }}.yml'
    - '{{ ansible_facts["distribution"] }}-{{ ansible_facts["distribution_major_version"] }}.yml'
    - '{{ ansible_facts["distribution"] }}.yml'
    - '{{ ansible_facts["os_family"] }}.yml'

- name: Symlink facter
  ansible.builtin.file:
    src: /opt/puppetlabs/bin/facter
    dest: /usr/bin/facter
    state: link
    force: yes
  when:
    - ansible_facts["architecture"] != 'aarch64'
    - ansible_facts["distribution"] == 'Ubuntu' or ansible_facts["distribution"] == 'CentOS'
    - ansible_facts["distribution_version"] != '18.04'
  become: true

- name: Symlink puppet
  ansible.builtin.file:
    src: /opt/puppetlabs/puppet/bin/puppet
    dest: /usr/bin/puppet
    state: link
    force: yes
  when:
    - ansible_facts["architecture"] != 'aarch64'
    - ansible_facts["distribution"] == 'Ubuntu' or ansible_facts["distribution"] == 'CentOS'
    - ansible_facts["distribution_version"] != '18.04'
  become: true
